.loader {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .4);
    overflow: hidden;
}
.loader-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: 50%;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}